 <% if client_signed_in? %>
    <% if actor.favorited_by?(current_client) %>
      <%= link_to  actor_favorites_path(actor), method: :delete, remote: true do %>
        <i class="fas fa-star text-center mr-3"><h6 class="favorite-text">はずす</h6></i>
      <% end %>
    <% else %>
      <%= link_to  actor_favorites_path(actor), method: :post, remote: true do %>
        <i class="far fa-star text-center mr-3"><h6 class="favorite-text">お気に入り</h6></i>
      <% end %>
    <% end %>
<% end %>