<h1 class="py-2 bg-dark text-white text-center"><strong>ABOUT</strong></h1>
  <div class="container mb-5 mt-5">
    <div class="how-section1">
      <div class="row mb-5">
        <div class="col-md-4 how-img">
          <img class="fit-picture" src="assets/about1.jpg" alt="">
        </div>
        <div class="col-md-8 pt-2 border-bottom border-top border-secondary">
          <h2>MODELE CONNECTIONとは</h2>
            <h4 class="subheading">フリーで活動をしているモデルさんを紹介するサイトです。</h4>
            <p class="text-muted">
              当サイトは、モデルとして登録。クライアントとして登録。ということができ、モデルとクライアントをCONNECT（繋げる）ことが可能です。<br/>
              モデルさんは登録することによって、当サイトに紹介されること以外に、クライアントさんのお仕事依頼を閲覧し、時には実際にお仕事までできるといったことが可能になります。
              また、クライアント側で登録するとお仕事依頼の登録ができ、効率よくモデルさんを探すことができます。
            </p>
        </div>
      </div>

      <div class="row mb-5">
        <div class="col-md-8 pt-3 border-bottom border-top border-secondary">
          <h2 class="mt-3">モデルとして活躍する。</h2>
          <p class="text-muted">
            モデルとして登録することによって、当サイトに掲載がされます。<br/>
            また、プロフィールに自己PRや出演経歴など記入することができたり、ご自身のSNSアカウントのページにリンクする
            こともできるので、クライアントさんにアピールがしやすいフォームになっています。<br/>
            また、依頼されたお仕事を閲覧することができ、実際にお仕事もすることも可能です。
          </p>
        </div>
          <div class="col-md-4 how-img">
            <img class="fit-picture" src="assets/about1.jpg" alt="model">
          </div>
      </div>

      <div class="row my-3">
        <div class="col-md-4 how-img">
          <img class="fit-picture" src="assets/about2.jpg" alt="client">
        </div>
        <div class="col-md-8 pt-5 border-bottom border-top border-secondary">
          <h2>お仕事を依頼する。モデルを見つける。</h2>
          <p class="text-muted">
            クライアントとして登録することで、お仕事の依頼をすることができます。<br/>
            登録されたお仕事は、サイトに投稿され閲覧することができ、モデルさんから応募が来ることでマッチングすることができます。<br/>
            また、クライアント側の機能で、お気に入りに追加する機能があるので。スカウトする際にモデルさんをより詳しく探すことができます。
          </p>
        </div>
      </div>
    </div>
  </div>