<div class="container admin_top">
  <div class="row text-center">
    <div class="col-md-6">
      <%= link_to new_actor_session_path do %>
        <div class="p-5 login_m">
          <h1 class="text-white">MODEL</h1>
          <p class="text-white mt-3">モデルとしてログイン、登録する方はこちら</p>
        </div>
      <% end %>
    </div>

    <div class="col-md-6">
      <%= link_to new_client_session_path do %>
        <div class="p-5 text-dark login_c">
          <h1>CLIENT</h1>
          <p class="mt-3">クライアントとしてログイン、登録する方はこちら</p>
        </div>
      <% end %>
    </div>
  </div>
</div>