<h1 class="py-3 bg-dark text-white text-center"><strong>CLIENT LIST</strong></h1>
  <div class="container py-2">
    <div class="row">
      <% @clients.each do |client| %>
        <% if client.is_deleted == false %>
          <div class="col-lg-3 col-md-6">
            <div class="card mx-auto mb-4 bg-dark text-white">
              <%= link_to client_client_path(client) do %>
                <%= attachment_image_tag client, :image, size: "210x210", class:"card-img-top", fallback: asset_path("no-image.jpeg") %>
              <% end %>
                <p class="card-text text-center"><%= client.name %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="d-flex align-items-center justify-content-center pb-5">
    <%= paginate @clients %>
  </div>
