<h1>お気に入り一覧</h1>
  <% @favorite_list.present? %>
    <div class="container my-5">
        <div class="row">
          <% @favorite_list.each do |actor| %>
            <div class="col-lg-3 col-md-6">
              <div class="card mx-auto mb-4 bg-dark text-white">
                <%= link_to actor_path(actor) do %>
                  <%= attachment_image_tag actor, :image, size: "210x300", class:"card-img-top", fallback: "no-image.jpeg" %>
                <% end %>
                  <p class="card-text text-center"><%= actor.name %></p>
              </div>
            </div>
          <% end %>
        </div>
      </div>