/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

 header {
   background-color: #222222;
 }

 footer {
      background-color: #222222;
 }

// -------ボタン装飾--------
  .btn {
   position: relative;
   border: none;
   transition: .4s ease-in;
   z-index: 1;
 }

 .btn::before,
 .btn::after{
   position: absolute;
   content: "";
   z-index: -1;
 }

 .btn:hover {
   box-shadow: 10px 10px 0px #4b0082;
   top: -5px;
   left: -5px;
 }
// --------ここまで-----------


// ---------JavaScriptスライドショー機能--------
 .top_image1 {
  background-image: url(top_image1.jpg);
 }

.top_image2 {
  background-image: url(top_image2.jpg);
}

.top_image3 {
  background-image: url(assets/top_image3.jpg);
}

.top_image4 {
  background-image: url(top_image4.jpg);
}

.top_image5 {
  background-image: url(top_image5.jpg);
}

.box {
  height: 600px;
}
// -------------ここまで--------------

.thanks {
  margin-top: 200px;
  margin-bottom: 200px;
}

.fit-picture {
  width: 100%;

}