/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

 header {
   background-color: #222222;
 }

 main {
   background-color: #EEEEEE;
 }

 footer {
    background-color: #222222;
 }


// -------ボタン装飾--------
 .btn-secondary {
   background-color: #222222;
 }

  .btn {
   position: relative;
   border: none;
   transition: .4s ease-in;
   z-index: 1;
 }

 .btn::before,
 .btn::after{
   position: absolute;
   content: "";
   z-index: -1;
 }

 .btn:hover {
   background: #444444;
   box-shadow: 0 0 5px #222222, 0 0 25px
   #222222, 0 0 25px #222222, 0 0 50px #222222;
 }
// --------ここまで-----------

// --------thanksページ-------
.thanks {
  padding-top: 200px;
  padding-bottom: 200px;
}

// --------aboutページ----------
.fit-picture {
  width: 100%;
}

// ------actor/showページ--------
.fa-instagram {
  color: #FF6347;
}

.fa-instagram:hover {
  color: #9932CC;
}

.fa-twitter {
  color: #00BFFF;
}

.fa-twitter:hover {
  color: #C2EEFF;
}

.fa-tiktok {
  color: #ffffff;
  background-color: #000000;
}

.fa-tiktok:hover {
  color: #000000;
  background-color: #ffffff;
}

.fa-globe {
  color: #0000FF;
}

.fa-globe:hover {
  color: #6495ED;
}

// ------actor/editページ--------
.actor-label {
 background-color: #EEEEEE;
}

//------actor/client/favoritesページ------
.fa-star {
  color: 	#FFD700;
}

.favorite-text {
  color: #000000;
}

// ---------inquiry/indexページ----------
.contact-us {
  background-color: #222222;
}

//-------- ログイン、新規登録画面の枠色--------
.shadow-lg {
border-color: #222222;
}

//-------client/job_request/indexページ--------
.job_request {
    padding: 100px 0 100px 0;
}

// --------actor/homes/topのjavascript機能-------

.caption2 {
    position:absolute;
    left:0;
    top: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    width: 100%;
    height: 100%;
    padding-top: 40px;
}
// --------actor/homes/topのjavascript文字スライド機能(理解は全くしていない)-------
.top_text {
  padding-right: 5%;
  padding-top: 15%;
  text-align: right;
  font-size: 70px;
  color: #fff;
}

.eachTextAnime span{opacity: 0;}
.eachTextAnime.appeartext span{ animation:text_anime_on 1s ease-out forwards; }
@keyframes text_anime_on {
  0% {opacity:0;}
  100% {opacity:1;}
}

// ---------JavaScriptスライドショー機能--------
.top_image1 {
background-image: image-url("top_image1.jpg");
}

.top_image2 {
background-image: image-url("top_image2.jpg");
}

.top_image3 {
background-image: image-url("top_image3.jpg");
}

.top_image4 {
background-image: image-url("top_image4.jpg");
}

.top_image5 {
background-image: image-url("top_image5.jpg");
}

.box {
height: 600px;
}
// ----------------ここまで--------------


// --------actor/indexのjavascript機能-------
.card {
    position:relative;
    background:#ddd;
    margin:20px auto;
    overflow:hidden;
}

.caption1 {
    position:absolute;
    left:0;
    top: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color:#fff;
    width: 100%;
    height: 100%;
    padding-top: 80px;
}

